<div class="list-block classroom-list">
<ul>                    

<li>
	<a href="html/classnews.html?classid={{id}}" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">Class News</div>
		</div>
	</a>
</li>

 <li>
	<a href="html/classevents.html?classid={{id}}" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">Class Calendar</div>
		</div>
	</a>
</li>
 
 <li>
	<a href="html/classassignments.html?classid={{id}}" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">Graded Assignments</div>
		</div>
	</a>
</li>
 
<li>
	<a href="html/classmissing.html?classid={{id}}" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">Missing Assignments</div>
		</div>
	</a>
</li>
  
<li>
	<a href="html/classhomework.html?classid={{query.id}}" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">Homework</div>
		</div>
	</a>
</li>

                  
</ul>
</div>