{{#each this}}
  <div class="card">
    <div class="card-header">
      {{ClassName}}
      {{#if SubjectName}}
        - {{ SubjectName }}
      {{/if}}
    </div>
    <div class="card-content">
        <div class="card-content-inner">
          <p>{{ Letter }} / {{ Number }}</p>
          <p>{{ Comments }}</p>    
      </div>
    </div>
    <div class="card-footer">Posted {{ PDate }}</div>
  </div>
{{/each}}